@model IEnumerable<Product>


<h1>Shop</h1>
<p>Count : @Model.Count()</p>
<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-4">
            <img src="~/img/(@p.ArtId).jpg" />
            <h3>@p.Category - @p.Length</h3>
            <ul>
                <li>Price: @p.Price</li>
                <li>Artist: @p.Artist</li>
                <li>Title: @p.Title</li>
                <li>Description: @p.ArtDescription</li>
            </ul>
            <button id="buyButton" class="btn btn-success">BUY</button>
        </div>
    }
</div>
